<!-- Unified Header and Background Section -->
<section class="max-w-screen-2xl mx-auto relative h-screen">
    <div class="px-5p pt-5p">
        <!-- Background Image -->
        {% for item in page.header %}
        <div class="bg-cover bg-no-repeat object-cover absolute inset-0 -z-10" style="background-image: linear-gradient(to right, rgba(21, 19, 18, 0.99), rgba(66, 53, 47, 0.37)), url('{{ item.image }}'); background-position: {{ item.position }};">
            <div class="flex flex-col justify-center h-full p-5 text-white">
                <h1 class="header-font text-2xl sm:text-4xl md:text-5xl lg:text-6xl pb-2p">{{ item.title }}</h1>
                <p class="text-lg sm:text-xl">{{ item.sub-title }}</p>
                <a href="{{ item.cta-url }}" aria-label="{{ item.cta-label }}" class="button">{{ item.cta }}</a>
            </div>
        </div>
        {% endfor %}

        <!-- Logo and Hamburger Navigation -->
        <div class="flex justify-between items-center z-50 top-0 left-0 right-0 px-5 py-2 header">
            <div class="flex items-center justify-between w-full header-logo-position">
                <!-- Logo Link -->
                <a href="/index.html" aria-label="Go to homepage" class="z-30">
                    <img src="/images/rise-and-grind-logo-optimized.png" alt="Rise & Grind Logo" class="w-44 sm:w-48">
                </a>

                <div>
                    <a href="#"> Our Story </a>
                    <a href="#"> What's Brewing </a>
                    <a href="#"> Menu </a>
                    <a href="#"> Visit Us </a>
                    <a href="#"> Order Now </a>
                </div>

                <!-- Hamburger Menu -
                <div class="text-right relative">
                    <div class="hamburger-wrapper">
                        <div class="hamburger-menu cursor-pointer z-30">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div> ------>
            </div>
        </div>
    </div>
</section>

<!-- MOBILE MENU 
<div class="mobile-menu fixed inset-0 z-40 hidden bg-black bg-opacity-50">
    <div class="mobile-menu-content bg-white p-5">
        <a href="/index.html" aria-label="Go to homepage">
            <img src="/images/rise-and-grind-logo-optimized.png" alt="Rise & Grind Logo">
        </a>
        <button class="close-button" aria-label="Close menu">&times;</button>
        <nav>
            <a href="/index.html">Index</a>
        </nav>
    </div>
</div>
-->