<!-- Unified Header and Background Section -->
<section class="max-w-screen-2xl mx-auto relative h-screen">
    <div class="px-5p pt-5p md:pt-2p">
        <!-- Background Image -->
        {% for item in page.header %}
        <div class="bg-cover bg-no-repeat object-cover absolute inset-0 -z-10" style="background-image: linear-gradient(to right, rgba(21, 19, 18, 0.99), rgba(66, 53, 47, 0.37)), url('{{ item.image }}'); background-position: {{ item.position }};">
            <div class="flex flex-col justify-center items-start h-full px-5p text-white">
                <p class="text-white header-text-font pb-5p sm:mt-20p md:mr-10p">{{ item.sub-title }}<br> <span class="header-font">{{ item.title }}</span></p>
                <a href="{{ item.cta-url }}" aria-label="{{ item.cta-label }}" class="button inline-block mb-5p">{{ item.cta }}</a>
            </div>
        </div>
        {% endfor %}

        <!-- Logo and Hamburger Navigation -->
        <div class="flex justify-between items-center z-50 top-0 left-0 right-0 header">
            <div class="flex items-center justify-between w-full header-logo-position">
                <!-- Logo Link -->
                <a href="/index.html" aria-label="Go to homepage" class="z-30">
                    <img src="/images/rise-and-grind-logo-optimized.png" alt="Rise & Grind Logo" class="w-24">
                </a>

                <div class="text-white hidden md:flex">
                    <a href="#" class="nav-link">Our Story</a>
                    <a href="#" class="nav-link">What's Brewing</a>
                    <a href="#" class="nav-link">Menu</a>
                    <a href="#" class="nav-link">Visit Us</a>
                    <a href="#" class="nav-link">Contact Us</a>
                </div>

                <!-- Hamburger Menu -->
                <div class="text-right relative md:hidden">
                    <div class="hamburger-wrapper">
                        <div class="hamburger-menu cursor-pointer z-30">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>

<!-- MOBILE MENU -->
<div class="mobile-menu fixed inset-0 z-40 hidden bg-black bg-opacity-50">
    <div class="mobile-menu-content bg-white p-5">
        <a href="/index.html" aria-label="Go to homepage">
            <img src="/images/rise-and-grind-logo-optimized.png" alt="Rise & Grind Logo">
        </a>
        <button class="close-button" aria-label="Close menu">&times;</button>
        <nav>
            <a href="/index.html">Index</a>
            <!-- Add other menu links here if needed -->
        </nav>
    </div>
</div>
